 @media (max-width: $screen-sm-max) {
     // Tablet
     .text-title {
        font-size: 3em;
    }
    .main-content h3 {
        font-size: 40px;
        color: #fff;
        margin: 0;
        letter-spacing: 2px;
        line-height: 125%;
    }
 }