 @media (max-width: $screen-xs-max) {
     // Mobile
     .bg-main {
         background-position: 23% 0;
     }
     .about-content {
         padding: 20px;
         line-height: 130%;
     }
     .static-mobile {
         position: static;
         @include transform(translate(0, 0));
     }
     .mobile-height-auto {
         min-height: auto;
     }
     .left-title{
        width: 100%;
        float: none !important;
     }
     .mobile-top{
        margin-top: 90px;
     }
     .scroll-top .vote {
        width: 80px;
        float: right;
    }
 }