<div class="main-section">
    <section class="section one" ng-include="section.one"></section>
    <div class="vote-now" scrollnomination>
        <section id="pgOne" class="section four" ng-include="section.four"></section>
    </div>
    <section id="pgTwo" class="section three" ng-include="section.three"></section>

    <section id="pgThree" class="section two" ng-include="section.two"></section>
    <!-- <section class="section five vote-nomination" ng-include="section.five"></section> -->
    <section  class="section six" ng-include="section.six"></section>
</div>