<div class="main-section">
    <section class="section one" ng-include="section.one"></section>
    <section class="section four" ng-include="section.four"></section>
    <section class="section three" ng-include="section.three"></section>
    <div class="vote-now" scrollnomination>
        <section class="section two" ng-include="section.two"></section>
        <section class="section five vote-nomination" ng-include="section.five"></section>
    </div>
    <section class="section six" ng-include="section.six"></section>
</div>