<div class="container-fluid">
    <div class="close" ng-click="$dismiss();">
        <i class="fa fa-times-circle"></i>
    </div>
    <div class="success-modal">
        <div class="img-holder text-center">
            <img src="img/thumbs-up.png" alt="" class="img-responsive">
        </div>
        <div class="success-dialogue text-center">
            <h4 class="text-uppercase">
                Thank you!
                <br/> Your Vote has been Registered!
            </h4>
        </div>
        <div class="button-block">
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <button class="btn btn-success btn-block text-uppercase" ng-click="voteAgain();$dismiss();">
                        Vote again
                    </button>
                    <a class="btn btn-primary btn-block text-uppercase" ng-href="{{facebookurl}}" target="_blank" rel="noopener">
                        Share on facebook
                    </a>
                    <a class="btn btn-primary btn-block text-uppercase" ng-href="{{twitterurl}}"
                        target="_blank">
                        Share on Twitter
                    </a>
                    <a class="btn btn-primary btn-block text-uppercase" href="http://www.linkedin.com/shareArticle?mini=true&amp;url=www.moneycontrol.com/rubique/"
                        target="_blank">
                        Share on linkedin
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>