<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <!-- <p>Copyright &copy; {{template.year}}. All Right Resvered.</p> -->
                Disclaimer : Copyright © Bestdealfinance.com Private Ltd. All rights reserved. Reproduction of news articles, photos, videos
                or any other content in whole or in part in any form or medium without express written permission of Bestdealfinance.com
                Private Ltd is prohibited.
            </div>
            <div class="col-sm-12" ng-if="displayLogout()">
                <div class="text-center logout" ng-click="logout()">
                 Logout
                </div>
            </div>
        </div>
    </div>
</footer>
