<header hide-on-scroll>
    <nav class="navbar navbar-default ">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
                <!-- <a class="navbar-brand" ui-sref="home"><img src="/img/logo.png" alt="logo" width="20"> </a> -->
            </div>
            <div class="collapse navbar-collapse" id="nav-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class=" text-uppercase"><a>Home</a></li>
                    <li class="text-uppercase"><a du-smooth-scroll="pgOne" du-scrollspy>Category</a></li>
                    <li class="text-uppercase"><a du-smooth-scroll="pgTwo" du-scrollspy>leader board</a></li>
                    <li class="text-uppercase"><a du-smooth-scroll="pgThree" du-scrollspy>about</a></li>
                </ul>
                <!-- <div ng-include="template.menu" class="template menu"></div> -->
            </div>
        </div>
    </nav>
</header>
<div class="scroll-top pointer ">
    <!-- <div class="vote" ng-click="scrollTop();">
        <img src="img/vote-icon.png" alt="">
    </div> -->
    <div class="vote" ng-click="scrollTop();">
        <img src="img/vote-icon1.png" alt="">
    </div>
</div>
<div class="scroll-top pointer hide">
    <!-- <div class="knowmore"><a href="http://www.moneycontrol.com/rubique/ ">know more about fintech edge</a></div> -->
    <div class="knowmore"><a href="http://www.moneycontrol.com/rubique/ " target="_blank" class="btn btn-default">Know more about FINTECH EDGE</a></div>
</div>