<!-- <h1>two</h1> -->
<!-- section one about page -->
<section class="bg-green about">
    <div class="min-hght rel get-center-content">
        <div class="full-width">
            <div class="container">
                <div class="row">
                        <div class="col-md-4 col-sm-4 visible-xs">
                                <div class="title rel text-uppercase text-center">
                                    <div class="large-character color-blue">
                                        A
                                    </div>
                                    <div class="text-title">
                                        About
                                    </div>
                                </div>
                            </div>
                    <div class="col-md-8 col-sm-8">
                        <div class="about-content">
                            <p class="text-justify">
                                The Banking and Financial services sector is witnessing disruption at a frantic pace. Driving this disruption is FinTech,
                                an innovative entrant that is making access to banking and financial products effortless,
                                seamless and wholesome. As an acclamation of its rising popularity, Rubique in association
                                with CNBC-TV18 has instituted 'Fintech EDGE'. 'EDGE' is all about Enabling, Digital Disruption,
                                Growth and Ecosystem, a platform to come together and recognize the best innovations from
                                FinTech ecosystem.To create a platform which recognizes and honors organization and individual
                                who have created a benchmark in the financial technology space. It will celebrate the milestones
                                who have demonstrated leadership and been at the forefront of driving change in the segment
                                in India.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 hidden-xs">
                        <div class="title rel text-uppercase text-center">
                            <div class="large-character color-blue">
                                A
                            </div>
                            <div class="text-title">
                                About
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>