<!-- <h1>two</h1> -->
<!-- section one about page -->
<section class="bg-green about">
    <div class="rel">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 col-sm-4 visible-xs">
                    <div class="title rel text-uppercase text-center">
                        <div class="large-character color-blue">
                            A
                        </div>
                        <div class="text-title">
                            ABOUT
                        </div>
                    </div>
                </div>
                <div class="pull-right top-right hidden-xs">
                    <div class="title rel text-uppercase text-center">
                        <div class="large-character color-blue">
                            A
                        </div>
                        <div class="text-title">
                            ABOUT
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="get-center-content">
            <div class="full-width">
                <div class="container">
                    <div class="row">
                        <!-- <div class="col-md-4 col-sm-4 visible-xs">
                                    <div class="title rel text-uppercase text-center">
                                        <div class="large-character color-blue">
                                            A
                                        </div>
                                        <div class="text-title">
                                            ABOUT
                                        </div>
                                    </div>
                                </div> -->
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <div class="about-content">
                                <p class="text-justify">
                                    The Banking and Financial services sector is witnessing disruption at a frantic pace. Driving this disruption is FinTech,
                                    an innovative entrant that is making access to banking and financial products effortless,
                                    seamless and wholesome. As an acclamation of its rising popularity, Rubique in association
                                    with CNBC-TV18 has instituted 'Fintech EDGE'. 'EDGE' is all about Enabling, Digital Disruption,
                                    Growth and Ecosystem, a platform to come together and recognize the best innovations
                                    from FinTech ecosystem.
                                </p>
                                <p>Public Voting will be conducted for categories decided by the management and Jury members.</p>
                                <p>
                                    Voting can be done by logging onto the website www.moneycontrol.com/rubique/, individuals need to vote on the shortlisted
                                    finalist already embedded on the website for both the categories. No other additional
                                    nominees would be accepted from the individuals. For more details on the T&C please refer
                                    the guidelines <a href="http://www.moneycontrol.com/rubique/application-form">http://www.moneycontrol.com/rubique/application-form</a></p>


                                <!-- <div class="text-center"> -->
                                <!-- <div class="knowmore"><a href="http://www.moneycontrol.com/rubique/ ">know more about fintech edge</a></div> -->
                                <!-- <div class="knowmore"><a href="http://www.moneycontrol.com/rubique/ " target="_blank" class="btn btn-default">Know more about FINTECH EDGE</a></div>
                                </div> -->
                            </div>

                        </div>

                        <!-- <div class="col-md-4 col-sm-4 hidden-xs">
                                    <div class="title rel text-uppercase text-center">
                                        <div class="large-character color-blue">
                                            A
                                        </div>
                                        <div class="text-title">
                                            About
                                        </div>
                                    </div>
                                </div> -->
                        <!-- <div class="pull-right top-right hidden-xs">
                                    <div class="title rel text-uppercase text-center">
                                        <div class="large-character color-blue">
                                            A
                                        </div>
                                        <div class="text-title">
                                            ABOUT
                                        </div>
                                    </div>
                                </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>