<!-- <h1>four</h1> -->
<!-- section one category page -->
<section class="category bg-grey">
    <div class="min-hght rel ">
        <div class="container-fluid">
            <div class="col-md-4 col-sm-4 visible-xs">
                <div class="title rel text-uppercase text-center">
                    <div class="large-character color-white">
                        C
                    </div>
                    <div class="text-title">
                        Category
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-sm-8">
                <div class="category-content">
                    <p class="text-justify" ng-model="catDesc">
                        {{catDesc}}
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 hidden-xs">
                <div class="pull-right">
                    <div class="title rel text-uppercase text-center">
                        <div class="large-character color-white">
                            C
                        </div>
                        <div class="text-title">
                            Category
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="get-center-content">
            <div class="full-width">
                <div class="container">
                    <div class="mb15">
                        <div class="row">
                            <div class="col-md-3 col-sm-4" ng-repeat="myslide in category track by $index">
                                <div class="category-title" ng-click="getCompany(myslide._id);scrollNomination()" ng-model="myslide._id" ng-mouseover="getCompanyDescription(myslide._id)">
                                    <h4 class="text-center">{{myslide.name}}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>