<!-- <h1>four</h1> -->
<!-- section one category page -->
<section class="category">
    <div class="bg-grey min-hght rel">
        <!-- <div class="get-center"> -->
            <div class="container">
                <div class="row">
                    <div class="col-xs-8">
                        <div class="category-content">
                            <p class="text-justify" ng-model="catDesc">
                                {{catDesc}}
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="title rel text-uppercase text-center">
                            <div class="large-character color-white">
                                C
                            </div>
                            <div class="text-title">
                                Category
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="swiper-custom">
                            <div class="swiper-container ">
                                <div class="swiper-wrapper ">
                                    <li ng-repeat="myslide in category track by $index" class="swiper-slide text-center">
                                      {{$index + 1}}  <figure>
                                            <img ng-src="../img/ge.png" class="img-responsive iconBlue" alt="Edge" ng-click="getCompany(myslide._id)">
                                        </figure>
                                    </li>
                                </div>
                               <div class="swiper-button-next">
                                    <i class="fa fa-caret-right color-black" aria-hidden="true"></i>
                                </div>
                                <div class="swiper-button-prev">
                                    <i class="fa fa-caret-left color-black" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div> -->
                <div class="mb15">
                    <div class="row">
                        <div class="col-md-3 col-sm-4" ng-repeat="myslide in category track by $index">
                            <div class="category-title" ng-click="getCompany(myslide._id);scrollNomination()" ng-model="myslide._id" ng-mouseover="getCompanyDescription(myslide._id)">
                                <h4 class="text-center">{{myslide.name}}</h4>
                            </div>
                            <!-- {{$index + 1}}  <figure>
                                        <img ng-src="../img/ge.png" class="img-responsive iconBlue" alt="Edge" ng-click="getCompany(myslide._id)">
                                    </figure> -->
                        </div>
                    </div>
                </div>
            </div>
        <!-- </div> -->
    </div>
</section>