<!-- <h1>three</h1> -->
<!-- section one leader board page -->
<section>
        <div class="bg-blue">
            <div class="container-fluid">
                <div class="row">
                        <div class="col-xs-4">
                                <div class="title rel text-uppercase text-center">
                                    <div class="large-character">
                                        L
                                    </div>
                                    <div class="text-title">
                                        Leader <br>
                                         Board
                                    </div>
                                </div>
                                <div class="sub-title box-white">
                                    Category
                                </div>
                            </div>
                    <div class="col-xs-8">
                        <div class="leader-board-content">
                         Swiper
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>