<!-- <h1>three</h1> -->
<!-- section one leader board page -->
<section class="leader-board">
    <div class="bg-blue min-hght">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-4">
                    <div class="title rel text-uppercase text-center">
                        <div class="large-character color-green">
                            L
                        </div>
                        <div class="text-title">
                            Leader
                            <br> Board
                        </div>
                    </div>
                    <div class="sub-title box-white btn btn-default text-uppercase lower-title">
                        Category
                    </div>
                </div>
                <div class="col-xs-8">
                    <div class="sub-title box-white btn btn-default text-uppercase upper-title">
                        Best Innovation
                    </div>
                    <div class="swiper-custom">
                        <div class="swiper-container ">
                            <div class="swiper-wrapper ">
                                <li ng-repeat="myslide in leaderBoard track by $index" class="swiper-slide text-center">
                                    <figure>
                                        <img ng-src="{{myslide.img}}" class="img-responsive iconBlue" alt="Edge">
                                    </figure>
                                </li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>