<!-- <h1>three</h1> -->
<!-- section one leader board page -->
<section class="leader-board">
    <div class="bg-blue min-hght">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-4">
                    <div class="title rel text-uppercase text-center">
                        <div class="large-character color-green">
                            L
                        </div>
                        <div class="text-title">
                            Leader
                            <br> Board
                        </div>
                    </div>
                    <div class="sub-title box-white btn btn-default text-uppercase lower-title">
                        Category
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="min-hght rel mb15">
                        <div class="get-bottom">
                            <div class="swiper-custom">
                                <div class="swiper-container">
                                    <div class="swiper-wrapper">
                                        <li ng-repeat="myslide in leaderBoard track by $index" class="swiper-slide text-center">
                                            <div>
                                                <div class="bar mb15">
                                                    <div class="bar-value get-bottom" style="height: {{myslide.value}}%;">
                                                    </div>
                                                </div>
                                                <figure>
                                                    <img ng-src="{{myslide.img}}" class="img-responsive iconBlue" alt="Edge">
                                                </figure>
                                            </div>
                                        </li>
                                    </div>
                                    <!-- Add Arrows -->
                                    <div class="swiper-button-next">
                                        <i class="fa fa-caret-right color-green" aria-hidden="true"></i>
                                    </div>
                                    <div class="swiper-button-prev">
                                        <i class="fa fa-caret-left color-green" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-2">
                    <div class="sub-title box-white btn btn-default text-uppercase upper-title">
                        Best Innovation
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>