<!-- <h1>one</h1> -->
<!-- section one landing page -->
<section>
    <div class="bg-main min-hght">
        <div class="container">
            <div class="row">
                <div class="col-xs-offset-6 col-xs-6">
                    <div class="main-content min-hght">
                        <h3 class="text-uppercase">
                            Innovation is The only way to win
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>