<!-- <h1>four</h1> -->
<!-- section one nomination page -->
<section ng-hide="companyView">
    <div class="bg-green min-hght nomination">
        <div class="container">
            <div class="row">
                <div class="col-xs-5">
                    <div class="title rel text-uppercase text-center">
                        <div class="large-character color-blue">
                            N
                        </div>
                        <div class="text-title">
                            nominations
                        </div>
                    </div>
                </div>
                <div class="col-xs-7">
                    <div class="nomination-content">
                        <p class="text-justify">
                        {{compDesc}}
                        </p>
                    </div>
                </div>
            </div>
            <!-- {{nominaton}} -->
            <!-- <div class="swiper-custom">
                <div class="swiper-container ">
                    <div class="swiper-wrapper ">
                        <li ng-repeat="myslide in company track by $index" class="swiper-slide text-center" >
                            <div class="">
                                <label for="optradio" name="value">
                                    <figure class="mb20">
                                        <img ng-src="../img/ge.png" class="img-responsive iconBlue" alt="Edge" >
                                    </figure>
                                    {{$index+1}}
                                    <input type="radio" name="optradio" value="{{myslide.companyObj._id}}" ng-change="">
                                </label>
                            </div>
                        </li>
                    </div>
                    <!-- Add Arrows -->
                    <!-- <div class="swiper-button-next">
                        <i class="fa fa-caret-right color-blue" aria-hidden="true"></i>
                    </div>
                    <div class="swiper-button-prev">
                        <i class="fa fa-caret-left color-blue" aria-hidden="true"></i>
                    </div>
                </div>
            </div> --> 
            <div class="row">
                    <div class="col-md-2" ng-repeat="myslide in company track by $index">
                        <div class="category-title">
                            {{myslide.companyObj.name}}
                        </div>
                        
                        <input type="radio" name="optradio"  ng-click="changeCompany(myslide.companyObj)">

                        <!-- {{$index + 1}}  <figure>
                            <img ng-src="../img/ge.png" class="img-responsive iconBlue" alt="Edge" ng-click="getCompany(myslide._id)">
                        </figure> -->
                    </div>
            <div class="button-all text-center mb15">
                <button class="btn btn-default text-uppercase" ng-click="submitVote();">
                    Submit
                </button>
            </div>
        </div>
    </div>
</section>