<!-- <h1>four</h1> -->
<!-- section one nomination page -->
<section ng-hide="companyView">
    <div class="bg-green min-hght nomination rel get-center-content">
        <div class="full-width">
            <div class="container">
                <div class="row">
                    <div class="col-xs-5">
                        <div class="title rel text-uppercase text-center">
                            <div class="large-character color-blue">
                                N
                            </div>
                            <div class="text-title">
                                nominations
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-7">
                        <div class="nomination-content">
                            <p class="text-justify">
                                {{compDesc}}
                            </p>
                        </div>
                    </div>
                </div>
                <!-- {{nominaton}} -->
                <!-- <div class="swiper-custom">
                            <div class="swiper-container ">
                                <div class="swiper-wrapper ">
                                    <li ng-repeat="myslide in company track by $index" class="swiper-slide text-center" >
                                        <div class="">
                                            <label for="optradio" name="value">
                                                <figure class="mb20">
                                                    <img ng-src="../img/ge.png" class="img-responsive iconBlue" alt="Edge" >
                                                </figure>
                                                {{$index+1}}
                                                <input type="radio" name="optradio" value="{{myslide.companyObj._id}}" ng-change="">
                                            </label>
                                        </div>
                                    </li>
                                </div>
                                <!-- Add Arrows -->
                <!-- <div class="swiper-button-next">
                                    <i class="fa fa-caret-right color-blue" aria-hidden="true"></i>
                                </div>
                                <div class="swiper-button-prev">
                                    <i class="fa fa-caret-left color-blue" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div> -->
                <div class="sub-title" ng-if="company.length == 0">
                    <h4 class="text-center">Please select category to view nominations and vote.</h4>
                </div>
                <div class="sub-title box-white btn btn-default text-uppercase upper-title" ng-if="categoryName">
                    {{categoryName}}
                </div>
                <div ng-if="company.length > 0">
                    <form name="companyVote">
                        <div class="mb15">
                            <div class="row">
                                <div class="col-md-3 col-sm-4  text-center" ng-repeat="companyvote in company track by $index">
                                    <div class="mb15">
                                        <div class="nomination-title">
                                            <h5>
                                                {{companyvote.companyObj.name}}
                                            </h5>
                                        </div>
                                        <input type="radio" name="optradio" ng-click="changeCompany(companyvote.companyObj)" required>    
                                    </div>

                                    <!-- {{$index + 1}}  <figure>
                                                    <img ng-src="../img/ge.png" class="img-responsive iconBlue" alt="Edge" ng-click="getCompany(myslide._id)">
                                                </figure> -->
                                </div>
                            </div>
                        </div>
                        <div class="button-all text-center mt15 mb15">
                            <button class="btn btn-default text-uppercase" ng-click="submitVote();">
                                Submit
                            </button>
                        </div>
                        <h4 class="color-primary">{{$scope.errormessage.name}}</h4>
                    </form>
                </div>
            </div>
        </div>

    </div>
</section>