<!-- <h1>four</h1> -->
<!-- section one partner page -->
<section>
    <div class="bg-light-grey">
        <div class="container">
            <div class="row">
                <div class="col-xs-8">
                    <div class="partner-content">
                        <ul class="list-inline">
                            <li>
                                <div class="img-circle">
                                    <img src="" alt="">
                                </div>
                            </li>
                            <li>
                                <div class="img-circle">
                                    <img src="" alt="">
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="title rel text-uppercase text-center">
                        <div class="large-character">
                            P
                        </div>
                        <div class="text-title">
                            partners
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>