<!-- <h1>four</h1> -->
<!-- section one partner page -->
<section>
    <div class="bg-blue min-hght">
        <div class="container">
            <div class="row">
                <div class="col-xs-8">
                    <div class="partner-content">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="img-circle">
                                    <img src="img/ey.png" alt="" class="img-responsive">
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="img-circle">
                                    <img src="img/ltp.png" alt="" class="img-responsive">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="title rel text-uppercase text-center">
                        <div class="large-character color-green">
                            P
                        </div>
                        <div class="text-title">
                            partners
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>